
.navbar {
  width: 100%;
  color: white;
  padding: 20px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: background 0.4s; 
}

.logo-big img {
  width: 300px;
}
.nav-links {
  display: flex;
  font-size: 20px;
  margin: 5px;
  list-style: none;
  gap: 40px;
  font-weight: 600;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}


.dark-nav {
  background: rgb(16, 16, 16);
}

.menu-icon {
  display: none;
}
.menu img{
  width: 50px;
}

@media (max-width: 2000px) {
  .logo-big img {
    width: 300px;
  }
  .nav-links {
    margin: 10px 15px;
    margin-left: auto;
    margin-right: 0;
  }
}

@media (max-width: 840px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0;
  }

  .nav-links {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: blue;
    z-index: 9; 
    width: 200px;
    padding-top: 20px;
    padding-left: 15px;
    transition: right 0.5s; 
  }

  nav ul li {
    display: block;
    margin: 10px;
  }

  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
    position: absolute;
    right: 25%;
    top:4%;
  }

  .hide-mobile-menu {
    right: -20px;
  }
}
